

/* Permanent elements  */
body{
    margin: 0px;
}
.modal{
    width: 1800px;
    height: 900px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    margin: 0 auto;
    position: relative;
}
/* Orange rectangle   */
.rectangleInsadePages  {
    margin: 0;
   width: 230px;
   height: 580px;
   background-color: #d07325;
   position: absolute;
   top: 177px;
   left: 380px;
}
.graylogo {
   width: 171px;
   height: 241px;
   position: absolute;
   top: 264px;
   left: 409px;
}
.lightOrangeLine{
   width: 151px;
   height: 2px;
   background-color: #dd9c5c;
   position: absolute;
   top: 600px;
   left: 419px;
}
.names {
   font-size: 30pt;
   text-align: center;
   color: white;
   position: absolute;
   top: 620px;
   left: 414px;
}
.names2 {
   font-size: 25pt;
   text-align: center;
   color: white;
   position: absolute;
   top: 555px;
   left: 434px;
}
/* Header names  */
.bigNames {
   font-size: 40pt;
   text-align: left;
   color: #6f6f6f;
   position: absolute;
   top: 73px;
   left: 380px;
}
.bigNamesStudents {
   font-size: 18pt;
   text-align: left;
   color: #b1b1b1;
   position: absolute;
   top: 137px;
   left: 380px;
}
.orangeLineUp {
    margin: 0;

   width: 789px;
   height: 2px;
   background-color: #d07325;
   position: absolute;
   top: 177px;
   left: 630px;
}
/* Menue  */
.menueHomePage{
    width: 90px;
    height: 45px;
    position:absolute;
    top: 177px;
    left: 1157px;
}
.menuename{
    font-size: 12pt;
    color: #6f6f6f;
    text-align: center;
    position: relative;
    top: 15px;
}
.OrangeLineUp {
    width: 2px;
    height: 30px;
    background-color: #d07325;
    position: absolute;
    top: 10px;
    left: 90px;
}
.menueAboutMe{
    width: 90px;
    height: 45px;
    text-decoration-color: #d07325;
    position:absolute;
    top: 177px;
    left: 1247px;
}
.menueHobbies{
    width: 90px;
    height: 45px;
    position:absolute;
    top: 177px;
    left: 1337px;
}
/* Mail  */
.mailto{
    font-size: 12pt;
    text-align: right;
    color: #6f6f6f;
    position: absolute;
    top: 108px;
    left: 1125px;
 }
/* Permanent elements  */

/* Elements Hobbies   */

.hobby {
    margin: 0px;
    width: 313px;
    height: 166px;
    position: absolute;
    top: 200px;
    left: 630px;
}
.foto {
    margin: 0px;
    width: 313px;
    height: 166px;
    border: solid 4px #d07325;
}
.hobbiesNames{
    font-size: 25pt;
    color: #6f6f6f;
    position: relative;
    top:-163px;
    left: 333px;
}
.orangeLineHobby {
    width: 455px;
    height: 2px;
    background-color: #d07325;
    position: relative;
    top: -153px;
    left: 333px;
}
.paragrapheHobby{
        width: 455px;
        height: 112px;
        font-size: 13pt;
        text-align: justify;
        color: #6f6f6f;
        position: relative;
        top: -153px;
        left: 333px;
}
.hobbyTwo {
    margin: 0px;
    width: 313px;
    height: 166px;
    position: absolute;
    top: 390px;
    left: 630px;
}
.hobbyТhree{
    margin: 0px;
    width: 313px;
    height: 166px;
    position: absolute;
    top: 583px;
    left: 630px;  
}


/* Footer */
.grayRectangleBotom {
    width: 1040px;
    height: 2px;
    background-color: #6f6f6f;
    position: absolute;
    top: 825px;
    left: 380px;
}
.welcome{
    font-size: 12pt;
    text-align: center;
    color: #6f6f6f;
    position: absolute;
    top: 800px;
    left: 651px;
}
.footerToni {
    width: 60px;
    height: 45px;
    position:absolute;
    top: 824px;
    left: 720px;
}
.footername{
    font-size: 12pt;
    color: #6f6f6f;
    text-align: center;
    position: relative;
    top: 15px;
}
.OrangeLine {
    width: 2px;
    height: 30px;
    background-color: #d07325;
    position: absolute;
    top: 10px;
    left: 60px;
}
.footerEli{
    width: 60px;
    height: 45px;
    position:absolute;
    top: 824px;
    left: 780px;
}
.footerNati{
    width: 60px;
    height: 45px;
    position:absolute;
    top: 824px;
    left: 840px;
}
.footerNiki{
    width: 60px;
    height: 45px;
    position:absolute;
    top: 824px;
    left: 900px;
}
.footerValyo{
    width: 60px;
    height: 45px;
    position:absolute;
    top: 824px;
    left: 960px;
}
.footer{
    width: 60px;
    height: 45px;
    position:absolute;
    top: 824px;
    left: 1020px;
}
.flagBg{
    width: 30px;
    height: 15px;
    position: absolute;
    top: 834px;
    left: 1357px;
}
.flagEng{
    width: 30px;
    height: 15px;
    position: absolute;
    top: 834px;
    left: 1390px;
}
