body{
   margin: 0px;
}
.modal{
    width: 1800px;
    height: 900px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    margin: 0 auto;
    position: relative;
}
.logoFirstPage{
   position: absolute;
   height: 150;
   top: 10px;
   left:  560px;
}
.containerToni{
    width: 230px;
    height: 580px;
   background-color: #d07325;
   position:absolute;
   top: 180px;
   left: 110px;
}
.fotoToni{
    position: relative;
    top: 3px;
    left: 3px;
}
.lightOrangeLineToni{
    width: 151px;
    height: 2px;
    background-color: #dd9c5c;
    position: relative;
    top: 34px;
    left: 34px;
}
.nameToni{
    font-size: 30pt;
    text-align: center;
    color: white;
    position: relative;
    top: 50px;


}.grayRectangle{
   width: 2px;
   height: 490px;
   margin: 0;
   background-color: #6f6f6f;
   position:absolute;
   top: 45px;
   left: 248px;
}
.containerEli{
   width: 230px;
   height: 580px;
   background-color: #d07325;
   position:absolute;
   top: 180px;
   left: 380px;
}
.containerNati{
   width: 230px;
   height: 580px;
   background-color: #d07325;
   position:absolute;
   top: 180px;
   left: 650px;
}
.containerNiki{
   width: 230px;
   height: 580px;
   background-color: #d07325;
   position:absolute;
   top: 180px;
   left: 920px;
}
.containerValio{
   width: 230px;
   height: 580px;
   background-color: #d07325;
   position:absolute;
   top: 180px;
   left: 1190px;
}
.container{
   width: 230px;
   height: 580px;
   background-color: #d07325;
   position:absolute;
   top: 180px;
   left: 1460px;
}
.grayRectangleBotom {
   width: 1040px;
   height: 2px;
   background-color: #6f6f6f;
   position: absolute;
   top: 825px;
   left: 380px;
}
.welcome{
   font-size: 12pt;
   text-align: center;
   color: #6f6f6f;
   position: absolute;
   top: 800px;
   left: 651px;
}
.footerToni {
   width: 60px;
   height: 45px;
   position:absolute;
   top: 824px;
   left: 720px;
}
.footername{
   font-size: 12pt;
   color: #6f6f6f;
   text-align: center;
   position: relative;
   top: 15px;
}
.OrangeLine {
   width: 2px;
   height: 30px;
   background-color: #d07325;
   position: absolute;
   top: 10px;
   left: 60px;
}
.footerEli{
   width: 60px;
   height: 45px;
   position:absolute;
   top: 824px;
   left: 780px;
}
.footerNati{
   width: 60px;
   height: 45px;
   position:absolute;
   top: 824px;
   left: 840px;
}
.footerNiki{
   width: 60px;
   height: 45px;
   position:absolute;
   top: 824px;
   left: 900px;
}
.footerValyo{
   width: 60px;
   height: 45px;
   position:absolute;
   top: 824px;
   left: 960px;
}
.footer{
    width: 60px;
    height: 45px;
   position:absolute;
   top: 824px;
   left: 1020px;
}
.flagBg{
   width: 30px;
   height: 15px;
   position: absolute;
   top: 834px;
   left: 1357px;
}
.flagEng{
   width: 30px;
   height: 15px;
   position: absolute;
   top: 834px;
   left: 1390px;
}
