#page-title {
    text-align: center;
}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 20px;
}

img {
    border: 2px solid rgb(168, 168, 168);
    border-radius: 4px;
    padding: 5px;
    width: 100px;
}

