


div {
border: 6px solid rgb(243, 154, 12);
background:gray;
color: rgb(0, 38, 255);
width: fit-content;
float:none;
padding top: 50px;
}

div ul{
    list-style-type:decimal;
    
}

#firstPara{
    color: green;
    font-weight: bold;
}

.first_class{
    color:red;
    font-weight: bold;
}

